*{
    margin: 0;
    padding: 0;
}
.fix{
    overflow: hidden;
}
.container{
    width: 70%;
    margin: auto;
}
.logo{
    width: 40%;
    display: inline-block;
}
.logo a{
    font-size: 30px;
    color: #000000;
    line-height: 45px;
    text-decoration: none;
    font-family: 'Molle', cursive;
}
.manuarea{
   width: 30%;
   float: right;
}
.manuarea ul{
    list-style: none;
    margin-top: 10px;
}
.manuarea ul li{
    display: inline-block;
}
.manuarea ul li a{
    line-height: 25px;
    text-decoration: none;
    padding: 10px;
    
    
}
.manuarea ul li a :hover{
    color: orange;
    background: black;
    transition: 1s;
    
}
.empty{
    height: 150px;
    background-color: darkorchid;
}
.writing{
    background: green;
}
.writing h2{
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: 'Molle', cursive;
    margin-top: 30px;

}
.circle{
    height: 13px;
    width: 13px;
    border-radius: 50%;
    border: 2px solid wheat;
    margin: auto;
    position: relative;

}

.circle::before{
    content: "";
    background-color: white;
    height: 2px;
    width: 250px;
    position: absolute;
    top: 6px;
    right: 15px;
}
.circle::after{
    content: "";
    background-color: white;
    height: 2px;
    width: 250px;
    position: absolute;
    top: 6px;
    left: 15px;
}
.writing p{
    color: white;
    text-align: center;
    padding-top: 48px;
    width: 70%;
    margin: auto;

}
.writing a{
    color: white;
    border: 2px solid white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
   
}
.mb{
    margin-bottom: 48px;
}
.tc{
    text-align: center;
}

